@footBG: @navBG;
@footFontSize: 12px;
@footTextColor: @navText;
@footPad: 9px;

#footer {
  background-color: @footBG;
}

.footer-text {
  color: @footTextColor;
  font-size: @footFontSize;
  padding-top: @footPad;
  padding-bottom: @footPad;
}
  
.footer-contact {
  float: right;
}
