@footBG: @navBG;
@footText: @navText;
@footPad: @navPad / 2;

#footer {
  background-color: @footBG;
}

.footer-text{
  color: @footText;
  font-size: 80%;
  text-align: right;
  padding-top: @footPad;
  padding-bottom: @footPad;
}
