
@linkcolor: #FFCD4A;
@textcolor: #333;

@imgwidth: 150px;
@imgmargin: 20px;

body {
  background-color: #FFF;
  color: @textcolor;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
}

.img-me {
  float: left;
  max-width: @imgwidth;
  margin-right: @imgmargin;
  margin-bottom: @imgmargin;
}
