/* My definitions */

.img-me {
  float: right;
  margin: 0px 20px 20px 20px;
}

.role {
  font-size: 18px;
}


/* Bootstrap extensions and overrides */

.navbar-brand {
  color: #333333 !important;
  font-size: 24px;
}

.navbar {
  font-size: 18px;
  font-weight: 500;
}
