
// orange color scheme
// @navbgcolor: #FFEEC8;
// @navhicolor: #FFCD4A;
// @navtextcolor: ???;

// gray color scheme
@navbgcolor: #EEE;
@navhicolor: #CCC;
@navtextcolor: #777;

@navpad: 10px;

.nav {
  width: 100%;
  background-color: @navbgcolor;
}

ul.nav-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100%;
}

.nav-elem a {
  display: block;
  padding: @navpad;
  margin: 0px;
  color: @navtextcolor;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.nav-head a {
  color: @textcolor;
  padding-left: 0px;
  padding-right: 3 * @navpad;
}

.nav-elem a:active,
.nav-elem a:hover,
.nav-elem a:focus {
  background-color: @navhicolor;
}

li.nav-left {
  float: left;
}

li.nav-right {
  float: right;
}
