.pub-head {
  // color: @osuBlue;
}

.pub-list {
  padding: 0;
}

li.pub-item {
  display: block;
}

.pub-title {
  font-weight: bold;
  margin-top: 1em;
}

.pub-best {
  font-weight: bold;
}

.pub-venue-name {
  font-style: italic;
}
