.pub-head {
  // color: @osuBlue;
}

.pub-list {
  padding: 0;
}

li.pub-item {
  display: block;
}

.pub-title {
  font-weight: bold;
}

.pub-authors {
  margin-top: 0em;
}

.pub-details {
  margin-top: 0em;
  margin-bottom: 1.5em;
}
