/* Formatting schedule tables. */

tr.schedule-row > td {
  padding-bottom: 2ex;
}

td.schedule-date {
  font-weight: bold;
  text-align: right;
  width: 8ex;
}

.schedule-important {
  color: #FF0000;
}

.schedule-topic {
  font-weight: bold;
}

.schedule-info > p {
  margin: 0;
  margin-bottom: 1ex;
}

table.slides th {
  text-align: left;
  padding-left: 2ex;
  padding-right: 0;
}

table.slides td {
  padding-left: 2ex;
  padding-right: 0;
}

td.slides-date {
  font-weight: bold;
  text-align: right;
  padding-left: 0;
  width: 100pt;
}
