<div class="foot-block foot-about">
  <div class="foot-head">About Me</div>
  Native <a href="http://en.wikipedia.org/wiki/Cascadia_(independence_movement)">Cascadian</a>.
  Teacher, researcher, gardener.
  Married to an awesome
  <a href="http://walkingshawdesign.com">graphic designer</a>.
  We have a cats.
  <div class="foot-contact osu-email"></div>
</div>

<div class="foot-block foot-map">
  <div class="foot-head">Pages</div>
  <ul class="foot-list">
    <li class="foot-item">
      <a href="/index.html">Home</a>
    </li>
    <li class="foot-item">
      <a href="/news.html">News</a>
    </li>
    <li class="foot-item">
      <a href="/teaching.html">Teaching</a>
    </li>
    <li class="foot-item">
      <a href="/research.html">Research</a>
    </li>
    <li class="foot-item">
      <a href="/publications.html">Publications</a>
    </li>
  </ul>
</div>

<div class="foot-block foot-map">
  <div class="foot-head">Projects</div>
  <ul class="foot-list">
    <li class="foot-item">
      <a href="/projects/choice-calculus.html">Choice Calculus</a>
    </li>
    <li class="foot-item">
      <a href="/projects/xop.html">XOP</a>
    </li>
    <li class="foot-item">
      <a href="/projects/semantics-first.html">Semantics First</a>
    </li>
    <li class="foot-item">
      <a href="/projects/hagl.html">Hagl</a>
    </li>
  </ul>
</div>

<div class="foot-block foot-map">
  <div class="foot-head">Profiles</div>
  <ul class="foot-list">
    <li class="foot-item">
      <a href="https://github.com/walkie">GitHub</a>
    </li>
    <li class="foot-item">
      <a href="https://twitter.com/EricWalkingshaw">Twitter</a>
    </li>
    <li class="foot-item">
      <a href="http://scholar.google.com/citations?user=0kPwMDwAAAAJ">Google Scholar</a>
    </li>
  </ul>
</div>

<div class="foot-madeby">
  © Eric Walkingshaw, <a href="/legal.html">details</a>
</div>
