<!DOCTYPE html>
<html>
<head>
  <title>Eric Walkingshaw $if(title)$ - $title$ $endif$</title>
  <meta charset="UTF-8">
  <link href="css/all.css" rel="stylesheet">
</head>

<body>

<div class="nav">
  <div class="container">
    <ul class="nav-list">
      <li class="nav-elem nav-left nav-head"><a href="/">Eric Walkingshaw</a></li>
      <li class="nav-elem nav-left"><a href="#">News</a></li>
      <li class="nav-elem nav-left"><a href="#">Teaching</a></li>
      <li class="nav-elem nav-left"><a href="#">Research</a></li>
      <li class="nav-elem nav-left"><a href="#">Blog</a></li>
      <li class="nav-elem nav-right"><a href="https://github.com/walkie">GitHub</a></li>
      <li class="nav-elem nav-right"><a href="cv.pdf">CV</a></li>
    </ul>
  </div>
</div>

<div class="container">

$body$

</div>

<script src="$jquery$/jquery.min.js"></script>
</body>
</html>
