<!DOCTYPE html>
<html>

<head>
  <title>Eric Walkingshaw $if(title)$ - $title$ $endif$</title>
  
  <!-- Bootstrap stuff -->
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="$bootstrap$/css/bootstrap.min.css" rel="stylesheet">
  <link href="$bootstrap$/css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>

$body$

<!-- Bootstrap and JQuery -->
<script src="$bootstrap$/js/bootstrap.min.js"></script>
<script src="$jquery$/jquery.min.js"></script>

</body>

</html>
