<!DOCTYPE html>
<html>
<head>
  <title>Eric Walkingshaw $if(title)$ - $title$ $endif$</title>
  <meta charset="UTF-8">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
  <link href="css/all.css" rel="stylesheet">
</head>

<body>

<div class="nav">
  <div class="container">
    <ul class="nav-list">
      <li class="nav-elem nav-left nav-head">
        <!-- $if(onHome)$ style="visibility: hidden"$endif$> -->
        <a href="/">Eric Walkingshaw</a>
      </li>
      <li class="nav-elem nav-left">
        <a href="research.html">Research</a>
      </li>
      <li class="nav-elem nav-left">
        <a href="teaching.html">Teaching</a>
      </li>
      <li class="nav-elem nav-left">
        <a href="news.html">News</a>
      </li>
      <li class="nav-elem nav-left">
        <a href="blog.html">Blog</a>
      </li>
      <li class="nav-elem nav-right">
        <a href="https://github.com/walkie">GitHub</a>
      </li>
      <li class="nav-elem nav-right">
        <a href="cv.pdf">CV</a>
      </li>
    </ul>
  </div>
</div>

<div class="container">

$body$

</div>

<script src="$jquery$/jquery.min.js"></script>
</body>
</html>
