<ul class="nav-list">
  <li class="nav-elem nav-left nav-head">
    <a href="/">Eric Walkingshaw</a>
  </li>
  <li class="nav-elem nav-left $if(on-news)$ nav-active $endif$">
    <a href="/news.html">News</a>
  </li>
  <li class="nav-elem nav-left $if(on-teaching)$ nav-active $endif$">
    <a href="/teaching.html">Teaching</a>
  </li>
  <li class="nav-elem nav-left $if(on-research)$ nav-active $endif$">
    <a href="/research.html">Research</a>
  </li>
  <li class="nav-elem nav-left $if(on-publications)$ nav-active $endif$">
    <a href="/publications.html">Publications</a>
  </li>
  <!--
  <li class="nav-elem nav-left $if(on-blog)$ nav-active $endif$">
    <a href="/blog.html">Blog</a>
  </li>
  -->
  <li class="nav-elem nav-right">
    <a href="https://github.com/walkie">GitHub</a>
  </li>
  <li class="nav-elem nav-right">
    <a href="/CV-Walkingshaw.pdf">CV</a>
  </li>
</ul>
